<!DOCTYPE html>
  <html ng-app="app" ng-cloak>
    <head>
      <title>Front-end-angularjs-automate-tasks</title>

      <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
      <!-- Importing the STYLES -->
      <link rel="stylesheet" href="css/style.css" />

    </head>
    <body ng-controller="AppCtrl as principalCtrl">
      {{principalCtrl.teste}}

      <!-- Header -->
      <header ng-include="'views/header.html'"></header>

      <!-- FORM -->
      <form>
        <div>
          <label>Name</label>
          <input type="text" placeholder="Insert your name" ng-model="name" />
        </div>

        <section id="container-peoples">
          <!-- CARDS -->
          <ui-card ng-repeat="people in peoples | filter: name" people-data="people" />
      </section>

      </form>

      <!-- Footer -->
      <footer ng-include="'views/footer.html'"></footer>

      <!-- Importing the SCRIPTS -->
      <script src="bower_components/angular/angular.min.js"></script>
      <script src="dist/js/scripts.js"></script>

    </body>
  </html>
